<html>
    <head>
        <title>Codeial | <%= viewBag.pageTitle %></title>
        <link rel="stylesheet" href="/css/layout.css">
        <%- defineContent('style') %>
    </head>
    <body>
        <main><%- body %></main>
        <%- defineContent('script') %>
    </body>
</html>