<div id="user-chat-box">
    <div id="heading">Chat Box</div>
    <ul id="chat-messages-list"></ul>
    <div id="chat-message-input-container">
        <input type="hidden" id="chat-user-email" value="<%= user.email %>">
        <input type="text" id="chat-message-input" placeholder="Type message here">
        <button id="send-message">Send</button>
    </div>
</div>
