<% 
    var errorMessage, data;
    const { email } = data ?? {};
    viewBag.pageTitle = 'Sign In';
%>

<%- contentFor('style') %>
<link rel="stylesheet" href="/css/auth.css">

<%- contentFor('body') %>
<section id="sign-in">
    <h2>Sign In</h2>

    <form action="/users/sign-in" method="post">
        <input type="email" name="email" placeholder="Your email" required value="<%= email %>">
        <input type="password" name="password" placeholder="Your password" required>
        <button type="submit">Sign In</button>
    </form>

    <a href="/users/sign-in/google" role="button">
        <img alt="Google sign-in" src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/53/Google_%22G%22_Logo.svg/512px-Google_%22G%22_Logo.svg.png" />
        <span>Login with Google</span>
    </a>

</section>