section {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    img.user-avatar {
        width: 150px;
        border: 1px solid gray;
        margin-bottom: 20px;
        cursor: pointer;
    }

    form > input[type="file"] {
        display: none;
    }
}
